# Service Port (internal port inside the container)
PORT=8080

# "dev" or "prod"
PRODUCTION_TYPE=dev

# Consul Configuration
CONSUL_ADDRESS=consul:8500
CONSUL_SERVICE_NAME=gateway
CONSUL_CHECK_ID=gateway-check
CONSUL_REGISTER_TTL=15s
CONSUL_REFRESH_TTL=10s
CONSUL_DEREGISTER_TTL=30s
